*.jnl
*.log
*.eps
*.mat
*-macroexp.mod
*.asv
*_dynamic.m
*_set_auxiliary_variables.m
*_static.m
*_steadystate2.m

*.fig
*-trim.png
outcmaes*.dat

checksum

CatchUpCycles.m
CatchUpCycles_params_derivs.m
CatchUpCycles_static_params_derivs.m
variablescmaes.mat
signals.par
